site_name: CATChem_mechanisms
theme:
  name: material

nav:
  - Home: index.md
  - Mechanisms: mechanisms.md

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
